<?xml version="1.0" ?>
<config>  
    <path 	name="path" 	type="string"  value="./data/"/>
    <numSteps 	name="numSteps" 	type="int"  value="721"/>
    <climateSeed value="432432"/>
    <socialRange value="25" />
    <daysPerSeason value="120" />
    <soil fileName="./resources/gujarat_400_soil_reclass.tiff" size="400"/>
    <dem fileName="./resources/gujarat_400_dem.tiff" size="400"/>
	<rainHistoricalDistribution shape="2.628" scale="5278.807" mean="4643.847826087"/>
	<hunterGatherers num="1" homeRange="50"/>
	<agroPastoralists num="0" />
</config>

